body {
  margin:0px;
  background-color:rgba(33, 33, 33, 1);
  background-image:none;
  position:relative;
  left:-8px;
  width:1892px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1892px;
  height:170px;
  background:inherit;
  background-color:rgba(33, 33, 33, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u304 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:1892px;
  height:170px;
  display:flex;
}
#u304 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u304_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u305_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:39px;
  color:#FFD500;
}
#u305 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:205px;
  width:303px;
  height:44px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:39px;
  color:#FFD500;
}
#u305 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u305_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u306_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#00000F;
}
#u306 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:460px;
  width:1px;
  height:21px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#00000F;
}
#u306 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u306_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u307_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#00000F;
}
#u307 {
  border-width:0px;
  position:absolute;
  left:1366px;
  top:460px;
  width:1px;
  height:21px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#00000F;
}
#u307 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u307_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#00000F;
}
#u308 {
  border-width:0px;
  position:absolute;
  left:1371px;
  top:460px;
  width:1px;
  height:21px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#00000F;
}
#u308 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u308_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u309_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#00000F;
}
#u309 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:954px;
  width:1px;
  height:21px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#00000F;
}
#u309 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u309_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#00000F;
}
#u310 {
  border-width:0px;
  position:absolute;
  left:1366px;
  top:954px;
  width:1px;
  height:21px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#00000F;
}
#u310 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u310_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u311_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#00000F;
}
#u311 {
  border-width:0px;
  position:absolute;
  left:1371px;
  top:954px;
  width:1px;
  height:21px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#00000F;
}
#u311 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u311_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Bold', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFD500;
}
#u312 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:67px;
  width:293px;
  height:30px;
  display:flex;
  font-family:'Montserrat Bold', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFD500;
}
#u312 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u312_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:259px;
  background:inherit;
  background-color:rgba(33, 33, 33, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u313 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:332px;
  width:1000px;
  height:259px;
  display:flex;
}
#u313 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u313_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u314 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:332px;
  width:1000px;
  height:259px;
}
#u314_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:259px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u314_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:39px;
}
#u315 {
  border-width:0px;
  position:absolute;
  left:948px;
  top:110px;
  width:37px;
  height:39px;
  display:flex;
}
#u315 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u315_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:39px;
}
#u316 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:110px;
  width:37px;
  height:39px;
  display:flex;
}
#u316 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u316_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u317_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u317 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:35px;
  width:155px;
  height:28px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u317 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u317_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u318 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:128px;
  width:141px;
  height:21px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u318 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u318_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u319 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:166px;
  width:194px;
  height:21px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u319 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u319_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u320 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:205px;
  width:145px;
  height:21px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u320 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u320_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u314_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:259px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u314_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:39px;
}
#u321 {
  border-width:0px;
  position:absolute;
  left:948px;
  top:110px;
  width:37px;
  height:39px;
  display:flex;
}
#u321 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u321_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:39px;
}
#u322 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:110px;
  width:37px;
  height:39px;
  display:flex;
}
#u322 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u322_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u323 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:128px;
  width:141px;
  height:21px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u323 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u323_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u324_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u324 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:166px;
  width:169px;
  height:21px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u324 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u324_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u325 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:205px;
  width:145px;
  height:21px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u325 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u325_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u326 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:35px;
  width:193px;
  height:28px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u326 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u326_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u314_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:259px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u314_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:39px;
}
#u327 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:110px;
  width:37px;
  height:39px;
  display:flex;
}
#u327 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u327_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:39px;
}
#u328 {
  border-width:0px;
  position:absolute;
  left:948px;
  top:110px;
  width:37px;
  height:39px;
  display:flex;
}
#u328 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u328_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u329 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:205px;
  width:145px;
  height:21px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u329 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u329_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u330 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:166px;
  width:173px;
  height:21px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u330 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u330_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u331 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:128px;
  width:141px;
  height:21px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u331 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u331_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u332 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:35px;
  width:218px;
  height:28px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u332 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u332_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:33px;
}
#u333 {
  border-width:0px;
  position:absolute;
  left:1779px;
  top:66px;
  width:28px;
  height:33px;
  display:flex;
}
#u333 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u333_img.mouseOver {
}
#u333.mouseOver {
}
#u333_img.mouseDown {
}
#u333.mouseDown {
}
#u333_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u334 {
  border-width:0px;
  position:absolute;
  left:1736px;
  top:118px;
  width:164px;
  height:170px;
  visibility:hidden;
}
#u334_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:170px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u334_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u335_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u335 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:21px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u335 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u335_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u335.mouseOver {
}
#u335_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u336_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u336 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:41px;
  width:1px;
  height:21px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u336 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u336_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u336.mouseOver {
}
#u336_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u337 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:31px;
  width:68px;
  height:21px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u337 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u337_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u337.mouseOver {
}
#u337_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u338_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFD250;
}
#u338 {
  border-width:0px;
  position:absolute;
  left:1714px;
  top:10px;
  width:165px;
  height:16px;
  display:flex;
  color:#FFD250;
}
#u338 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u338_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFD250;
}
#u338.mouseOver {
}
#u338_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFD250;
}
#u338.mouseDown {
}
#u338_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1892px;
  height:297px;
  background:inherit;
  background-color:rgba(33, 33, 33, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#212121;
}
#u339 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:729px;
  width:1892px;
  height:297px;
  display:flex;
  color:#212121;
}
#u339 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u339_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Bold', 'Lato Regular', 'Lato', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u340 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:765px;
  width:270px;
  height:29px;
  display:flex;
  font-family:'Lato Bold', 'Lato Regular', 'Lato', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u340 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u340_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u341_input {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u341_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u341 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:854px;
  width:301px;
  height:25px;
  display:flex;
}
#u341 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u341_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u341.disabled {
}
#u342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
}
#u342 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:806px;
  width:282px;
  height:34px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
}
#u342 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u342_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 210, 80, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 210, 80, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u343 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:895px;
  width:117px;
  height:34px;
  display:flex;
  font-size:15px;
}
#u343 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u343_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Bold', 'Lato Regular', 'Lato', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u344 {
  border-width:0px;
  position:absolute;
  left:1511px;
  top:765px;
  width:88px;
  height:29px;
  display:flex;
  font-family:'Lato Bold', 'Lato Regular', 'Lato', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u344 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u344_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-style:normal;
}
#u345 {
  border-width:0px;
  position:absolute;
  left:1416px;
  top:806px;
  width:247px;
  height:21px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-style:normal;
}
#u345 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u345_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-style:normal;
}
#u346 {
  border-width:0px;
  position:absolute;
  left:1416px;
  top:836px;
  width:377px;
  height:23px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-style:normal;
}
#u346 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Bold', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFD250;
}
#u347 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:67px;
  width:113px;
  height:22px;
  display:flex;
  font-family:'Montserrat Bold', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFD250;
}
#u347 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u347_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Bold', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFD250;
}
#u347.mouseOver {
}
#u347_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Bold', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFD250;
}
#u348 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:67px;
  width:61px;
  height:37px;
  display:flex;
  font-family:'Montserrat Bold', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFD250;
}
#u348 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u348_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Bold', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFD250;
}
#u348.mouseOver {
}
#u348_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Bold', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFD250;
}
#u349 {
  border-width:0px;
  position:absolute;
  left:1010px;
  top:67px;
  width:79px;
  height:37px;
  display:flex;
  font-family:'Montserrat Bold', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFD250;
}
#u349 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u349_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Bold', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFD250;
}
#u349.mouseOver {
}
#u349_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFD250;
}
#u350 {
  border-width:0px;
  position:absolute;
  left:1189px;
  top:67px;
  width:61px;
  height:21px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFD250;
}
#u350 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u350_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFD250;
}
#u350.mouseOver {
}
#u350_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFD250;
}
#u350.mouseDown {
}
#u350_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
