body {
  margin:0px;
  background-color:rgba(33, 33, 33, 1);
  background-image:none;
  position:relative;
  left:-400px;
  width:700px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:225px;
  background:inherit;
  background-color:rgba(33, 33, 33, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:250px;
  width:700px;
  height:225px;
  display:flex;
}
#u389 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u389_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:285px;
  width:1px;
  height:37px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u390 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u390_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
  text-align:center;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:320px;
  width:377px;
  height:42px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
  text-align:center;
}
#u391 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u391_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u392_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 210, 80, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:394px;
  width:140px;
  height:40px;
  display:flex;
  color:#000000;
}
#u392 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u392_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 227, 133, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u392.mouseOver {
}
#u392_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 210, 80, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 210, 80, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 210, 80, 1) 0%, rgba(0, 0, 0, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u392.mouseDown {
}
#u392_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
