body {
  margin:0px;
  background-color:rgba(33, 33, 33, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1890px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u97_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1890px;
  height:1346px;
  background:inherit;
  background-color:rgba(33, 33, 33, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-125px;
  width:1890px;
  height:1346px;
  display:flex;
}
#u97 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u98_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1890px;
  height:170px;
  background:inherit;
  background-color:rgba(33, 33, 33, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1890px;
  height:170px;
  display:flex;
}
#u98 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u98_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFD500;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:67px;
  width:293px;
  height:30px;
  display:flex;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFD500;
}
#u99 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u99_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:33px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:1769px;
  top:56px;
  width:28px;
  height:33px;
  display:flex;
}
#u100 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u100_img.mouseOver {
}
#u100.mouseOver {
}
#u100_img.mouseDown {
}
#u100.mouseDown {
}
#u100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:1726px;
  top:108px;
  width:164px;
  height:170px;
  visibility:hidden;
}
#u101_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:170px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u101_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:21px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u102 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u102_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u102.mouseOver {
}
#u102_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:41px;
  width:1px;
  height:21px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u103 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u103_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u103.mouseOver {
}
#u103_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:31px;
  width:68px;
  height:21px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u104 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u104_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u104.mouseOver {
}
#u104_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFD250;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:1714px;
  top:10px;
  width:165px;
  height:16px;
  display:flex;
  color:#FFD250;
}
#u105 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u105_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFD250;
}
#u105.mouseOver {
}
#u105_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFD250;
}
#u105.mouseDown {
}
#u105_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:1726px;
  top:1128px;
  width:1px;
  height:16px;
  display:flex;
}
#u106 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u106_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:247px;
  width:584px;
  height:37px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u107 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:679px;
  height:534px;
  background:inherit;
  background-color:rgba(33, 33, 33, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:323px;
  width:679px;
  height:534px;
  display:flex;
}
#u108 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:336px;
  width:259px;
  height:28px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u109 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u109_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:395px;
  width:679px;
  height:136px;
}
#u110_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:679px;
  height:136px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u110_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:0px;
  width:534px;
  height:24px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u111 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u111_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u110_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:679px;
  height:136px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u110_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFD250;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:0px;
  width:534px;
  height:30px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFD250;
}
#u112 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u112_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:675px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:27px;
  width:675px;
  height:55px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u113 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:475px;
  width:679px;
  height:136px;
}
#u114_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:679px;
  height:136px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u114_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:0px;
  width:268px;
  height:24px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u115 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u115_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u114_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:679px;
  height:136px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u114_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFD250;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:0px;
  width:268px;
  height:21px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFD250;
}
#u116 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:675px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:27px;
  width:675px;
  height:55px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u117 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:568px;
  width:679px;
  height:136px;
}
#u118_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:679px;
  height:136px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u118_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:0px;
  width:167px;
  height:24px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u119 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u119_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u118_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:679px;
  height:136px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u118_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFD250;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:0px;
  width:170px;
  height:21px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFD250;
}
#u120 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:675px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:27px;
  width:675px;
  height:55px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u121 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:651px;
  width:679px;
  height:136px;
}
#u122_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:679px;
  height:136px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:271px;
  height:24px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u123 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u123_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u122_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:679px;
  height:136px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u122_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFD250;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:281px;
  height:30px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFD250;
}
#u124 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:681px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:27px;
  width:681px;
  height:55px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u125 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:793px;
  width:554px;
  height:36px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u126 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u126_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1890px;
  height:297px;
  background:inherit;
  background-color:rgba(33, 33, 33, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#212121;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:924px;
  width:1890px;
  height:297px;
  display:flex;
  color:#212121;
}
#u127 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Bold', 'Lato', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:960px;
  width:269px;
  height:29px;
  display:flex;
  font-family:'Lato Bold', 'Lato', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u128 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u128_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u129_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u129_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:1049px;
  width:300px;
  height:25px;
  display:flex;
}
#u129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u129_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u129.disabled {
}
#u130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:1001px;
  width:281px;
  height:34px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
}
#u130 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 210, 80, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 210, 80, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:1090px;
  width:117px;
  height:34px;
  display:flex;
  font-size:15px;
}
#u131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Bold', 'Lato', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:1508px;
  top:960px;
  width:88px;
  height:29px;
  display:flex;
  font-family:'Lato Bold', 'Lato', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFD250;
}
#u132 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u132_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-style:normal;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:1413px;
  top:1001px;
  width:246px;
  height:21px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-style:normal;
}
#u133 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u133_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-style:normal;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:1413px;
  top:1031px;
  width:376px;
  height:23px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-style:normal;
}
#u134 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u134_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFD250;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:67px;
  width:113px;
  height:22px;
  display:flex;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFD250;
}
#u135 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u135_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFD250;
}
#u135.mouseOver {
}
#u135_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFD250;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:67px;
  width:61px;
  height:37px;
  display:flex;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFD250;
}
#u136 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u136_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFD250;
}
#u136.mouseOver {
}
#u136_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFD250;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:1010px;
  top:67px;
  width:79px;
  height:37px;
  display:flex;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFD250;
}
#u137 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u137_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFD250;
}
#u137.mouseOver {
}
#u137_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFD250;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:1189px;
  top:67px;
  width:61px;
  height:21px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFD250;
}
#u138 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u138_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFD250;
}
#u138.mouseOver {
}
#u138_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFD250;
}
#u138.mouseDown {
}
#u138_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
